{% extends "base_menu.html" %}


{% block page_header %}
{% load humanize %}
<h2 class="display-5 text-dark">
    Browse<br>brands</h2>
<div>
    <p class="header-stat badge text-dark m-2 p-2 rounded-3 shadow">
        {% if search %} Your search found {{ filtered_list|length }} categories {% else %}
        {% if brand_list|length != 1 %} {{ brand_list|length }} brands &nbsp;&raquo;&nbsp;
        {% else %} {{ brand_list|length }} brand &nbsp;&raquo;&nbsp; {% endif %}
        {% if product_list|length != 1 %} {{ product_list|length }} products</p>
        {% else %} {{ product_list|length }} product</p>{% endif %}{% endif %}
    <!-- https://www.w3schools.com/howto/howto_css_search_button.asp -->
    <form action="" method="get" class="m-2 input-group">
        <input type="text" name="search" class="form-control" list="brandList"
        {% if brand_list %}placeholder="Search for a brand name..."
        {% else %}placeholder="Nothing to search"{% endif %}>
        <datalist id="brandList">
            {% if brand_list %}{% for brand in brand_list %}
            <option value="{{ brand.brand }}"> {{ brand.brand }} </option>
            {% endfor %}{% endif %}
        </datalist>
        <button type="submit" class="btn btn-sm btn-success muted-link-style">
            <i class="fa fa-search p-2"></i></button>
        <a href="{% url 'prcr:main_list' %}" class="btn btn-sm btn-outline-dark link-style">
            <i class="fa fa-undo p-2"></i></a>
    </form>
</div>
<a class="header-link btn btn-md btn-outline-dark" href="{% url 'prcr:brand_create' %}">
    Add a brand<br> to Pricer &raquo;</a>
{% endblock page_header %}


{% block content %}
{% if filtered_list %}
{% for brand in filtered_list %}
<section class="container-fluid mt-3">
    <h4 class="heading p-3 mt-3 bg-light rounded-3 shadow text-dark d-flex justify-content-between align-items-center">
        {{ brand }}
        <a href="{% url 'prcr:product_brand_create' brand.id %}"
            class="btn btn-sm btn-outline-dark">
            Add {{ brand.brand }} products &raquo;</a>
    </h4>
</section>
<section class="container ">
    {% if product_list %}
    <div class="row m-0">
        {% for product in product_list %}
        {% if product.brand.id == brand.id %}
        <a href="{% url 'prcr:product_detail' product.id %}" class="link-style col-md-6">
            <div class="cards card p-2 mt-3 row g-0 border rounded-3 overflow-hidden shadow h-md-250 position-relative">
                <div class="row g-0 card-header flex-md-row">
                    <h5 class="link-style fs-3 text-dark pt-2">
                    {{ product.product }}
                    {% if product_lowest_price_list %}{% for product_id, total_price in product_lowest_price_list %}
                    {% if product_id == product.id %}
                    <span class="fs-6"> &#9679; best price ${{ total_price|intcomma }} </span></h5>
                    {% endif %}{% endfor %}{% endif %}
                    </div>
                <div class="card-body d-flex justify-content-between align-items-center">
                    <p class="card-text mb-auto text-muted text-small">
                        {% if feature_list %} <span class="text-muted"></span>
                        {% for feature in feature_list %}{% if feature.product.id == product.id %}
                        {{ feature }} &raquo;
                        {% endif %}{% endfor %}{% endif %}
                    </p>
                    {% if product.content_type %}
                    <img src="{% url 'prcr:product_picture' product.id %}" class="card-pic rounded-3 ms-3">
                    {% endif %}
                </div>
            </div>
        </a>
        {% endif %}
        {% endfor %}
    </div>
    {% endif %}
</section>
{% endfor %}
{% elif brand_list|length == 0%}
<section class="section no-content p-3 m-3 bg-light rounded-3">
    <div class="text-danger p-3 m-3">
        <p class="fs-4">There are no categories yet in Pricer.<br>
            Add categories, subcategories and brands before creating a product.</p>
    </div>
</section>
{% elif filtered_list|length == 0%}
<section class="section no-content p-3 m-3 bg-light rounded-3">
    <div class="text-danger p-3 m-3">
        <p class="fs-4">There are no results for your search.</p>
    </div>
</section>
{% endif %}
{% endblock content %}


{% block footer %}
{% endblock footer %}