{% extends "base_menu.html" %}
{% load humanize %}
{% block head %}
<style>
    .overlay{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 10;
        display: none;
        background-color: rgba(0,0,0,0.5);
    }
</style>
{% endblock head %}


{% block page_header %}
<h2 class="text-dark"><span class="display-3"> {{ product.product }} </span><br>
    <span class="fs-4"> {{ product.brand }} </span><br>
    <span class="fs-5"> &#9679; {{ product.subcategory.category|lower }} &raquo; {{ product.subcategory|lower }} </span>
</h2>
<p class="header-stat badge text-dark mt-3 p-2 rounded-3 shadow">
    updated<br><br>{{ product.natural_updated }}</p>
<p>{% if product.owner == user %}
    <a href="{% url 'prcr:product_update' product.id %}"
        class="btn btn-md btn-outline-dark mt-5">Edit &raquo;</a>
{% endif %}</p>
{% endblock page_header %}


{% block content %}
{% if product.content_type %}
<div id="overlay" class="overlay" onclick="document.getElementById('overlay').style.display = 'none';">
    <img id="overlay-image" src="{% url 'prcr:product_picture' product.id %}">
</div>
{% endif %}
<div class="main p-2 m-2 bg-light rounded-3 shadow">
    <div class="container">
        <section class="row mb-3">
            <div class="col-7 mt-3">
                <h5>Product features</h5><p class="fs-6 text-dark">
                    {% if feature_list %}{% for feature in feature_list %}{{ feature }} &raquo;
                    {% endfor %}{% else %}The feature list is empty{% endif %}</p>
                <a href="{% url 'prcr:feature_create' product.id %}"
                    class="btn btn-sm btn-outline-secondary text-start mb-4">
                    Add a product feature &raquo;</a><br>
                {% if price_list %}
                <button type="button" data-bs-toggle="modal" data-bs-target="#bestPriceModal"
                    class="btn btn-md btn-outline-success text-dark text-start mb-3">
                    <span class="fs-5">Best price ${{ lowest_price.total|intcomma }} &raquo;</span><br>
                    {% if lowest_price.financing or lowest_price.subscription_fees %}
                    <mark class="badge rounded-1 text-dark p-1">Conditions apply</mark>
                    {% elif lowest_price.tied_sale >= 0.01 %}
                    <mark class="badge rounded-1 text-dark p-1">
                        Bundle cost: ${{ lowest_price.tied_cost }}</mark>
                    {% elif lowest_price.shipping or lowest_price.hidden_fees %}
                    <mark class="badge rounded-1 text-dark p-1">with shipping or fees</mark>
                    {% elif lowest_price.phony_sale %}
                    <mark class="badge rounded-1 text-dark p-1">Phony sale ads</mark>
                    {% endif %}
                    &#9679; {{ lowest_price.domain }}
                    &#9679; {{ lowest_price.date_observed|naturalday }}</button><br>
                <button type="button" data-bs-toggle="modal" data-bs-target="#worstPriceModal"
                    class="btn btn-md btn-outline-danger text-dark text-start">
                    <span class="fs-5">Worst price ${{ highest_price.total|intcomma }} &raquo;</span><br>
                    {% if highest_price.financing or highest_price.subscription_fees %}
                    <mark class="badge rounded-1 text-dark p-1">Conditions apply</mark>
                    {% elif highest_price.tied_sale >= 0.01 %}
                    <mark class="badge rounded-1 text-dark p-1">
                        Bundle cost: ${{ highest_price.tied_cost }}</mark>
                    {% elif highest_price.shipping or highest_price.hidden_fees %}
                    <mark class="badge rounded-1 text-dark p-1">with shipping or fees</mark>
                    {% elif highest_price.phony_sale %}
                    <mark class="badge rounded-1 text-dark p-1">Phony sale ads</mark>
                    {% endif %}
                    &#9679; {{ highest_price.domain }}
                    &#9679; {{ highest_price.date_observed|naturalday }} &raquo;</button><br>
                {% else %}<p>Price list is empty</p>{% endif %}
                <a href="{% url 'prcr:price_create' product.id %}"
                    class="btn btn-sm btn-outline-secondary text-start mt-3">
                    Did you see an offer online? List it here &raquo;</a>
            </div>
            <div class="col-5">
                {% if product.content_type %}
                <img src="{% url 'prcr:product_picture' product.id %}"
                    id="product-profile-pic" class="rounded-3 mt-3"
                    onclick="document.getElementById('overlay').style.display = 'block';">
                {% else %}
                <div id="product-profile-no-pic-div" class="container-fluid rounded-3 mt-3">
                    <a href="{% url 'prcr:product_add_image' product.id %}"
                        id="product-profile-no-pic" class="btn btn-lg btn-outline-dark">
                        <br>Add an image</a>
                </div>
                {% endif %}
            </div>
        </section>
        <section class="row mb-3">
            <div class="product-profile col-11 m-3">
                {{ price_chart|safe }}
            </div>
        </section>
        <section class="row mb-3">
            <div class="col-6 rounded-3 container-fluid" id="price-history">
                <div class="d-flex justify-content-between mt-3">
                    <h5>Price history</h5>
                    <a href="{% url 'prcr:price_create' product.id %}"
                        class="btn btn-sm btn-outline-secondary text-start mb-3">
                        Add a price listing &raquo;</a><br>
                </div>
                {% if price_list %}{% for price in price_list %}
                {% if price.id == lowest_price.id %}
                <button type="button" data-bs-toggle="modal" data-bs-target="#bestPriceModal"
                    class="btn btn-md btn-outline-success text-dark text-start mb-3">
                    <strong>Best offer &#9679; ${{ price.total|intcomma }}</strong>
                {% else %}
                <button type="button" data-bs-toggle="modal" data-bs-target="#priceList{{ price.id }}Modal"
                    class="btn btn-sm btn-outline-dark text-start mb-3">
                    Price offer &#9679; ${{ price.total|intcomma }}
                {% endif %}
                    {% if price.financing or price.subscription_fees %}
                    &#9679; <mark class="badge rounded-1 text-dark p-1">
                        Conditions apply</mark>
                    {% elif price.tied_sale >= 0.01 %}
                    &#9679; <mark class="badge rounded-1 text-dark p-1">
                        Bundle cost: ${{ price.tied_cost }}</mark>
                    {% elif price.shipping or price.hidden_fees %}
                    &#9679; <mark class="badge rounded-1 text-dark p-1">
                        with shipping or fees</mark>
                    {% elif price.phony_sale %}
                    &#9679; <mark class="badge rounded-1 text-dark p-1">
                        Fake savings claim</mark>
                    {% endif %}<br>
                    {{ price.domain }}
                    &#9679; {{ price.natural_date_observed }} &raquo;
                </button><br>
                <div class="modal" id="bestPriceModal" aria-labelledby="bestPriceModalLabel" tabindex="-1" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header heading">
                                <h2 class="mt-3">Best price</h2>
                                <div><p><span class="fs-6">Total before taxes<br>
                                    <span class="fs-3"><strong>${{ lowest_price.total }}</strong></span></p></div>
                            </div>
                            <div class="modal-body section">
                                <div class="d-flex justify-content-between rounded-3">
                                    <p class="fs-6 mt-1">Price was confirmed {{ lowest_price.natural_date_observed }}</p>
                                    <p><a href="{{ lowest_price.link }}" class="btn btn-sm btn-outline-success">
                                        Buy now on {{ lowest_price.domain }}</a></p>
                                </div>
                                <div class="container-fluid d-flex justify-content-between fs-4">
                                    <p>Advertised price</p> <p>${{ lowest_price.advertised_price }}</p>
                                </div>
                                {% if lowest_price.phony_sale %}<p class="text-danger">
                                    Phony savings claim reported for this price</p>{% endif %}
                                {% if plowest_rice.financing %}<p class="text-danger">
                                    Must pay for financing to get this price</p>{% endif %}
                                {% if lowest_price.subscription_fees %}<p class="text-danger">
                                    Must become a member or pay subscription fees to get this price</p>{% endif %}
                                {% if lowest_price.shipping %}
                                <div class="container-fluid d-flex justify-content-between">
                                    <p>Shipping may apply &#9679; starting</p> <p>+ ${{ lowest_price.shipping }}</p>
                                </div>{% endif %}
                                {% if lowest_price.hidden_fees %}
                                <div class="container-fluid d-flex justify-content-between">
                                    <p>Hidden fees</p> <p>+ ${{ lowest_price.hidden_fees }}</p>
                                </div>{% endif %}
                                {% if price.higher_price_at_checkout %}
                                <div class="container-fluid d-flex justify-content-between">
                                    <p>Price at checkout</p> <p>${{ lowest_price.higher_price_at_checkout }}</p>
                                </div>{% endif %}
                                {% if lowest_price.overcharge %}
                                <div class="container-fluid d-flex justify-content-between">
                                    <p>Overcharge on card</p> <p>${{ lowest_price.overcharge }}</p>
                                </div>{% endif %}
                                {% if price.tied_sale %}
                                <div class="container-fluid d-flex justify-content-between">
                                    <p>Tied product price</p> <p>+ ${{ lowest_price.tied_sale }}</p>
                                </div>
                                <div class="container-fluid d-flex justify-content-between fs-4">
                                    <p>Total for all products</p> <p>${{ lowest_price.tied_cost}}</p>
                                </div>{% endif %}
                                <div class="container-fluid d-flex justify-content-between fs-4">
                                    <p>Final product price</p> <p> ${{ lowest_price.total }}</p>
                                </div>
                                {% if price.comments %}
                                <div>
                                <h5>Note</h5><p>{{ lowest_price.comments }}</p>
                                </div>{% endif %}
                            </div>
                        <div class="modal-footer footer">
                            <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Close</button>
                            {% if price.owner_id == user.id %}
                            <a href="{% url 'prcr:price_update' price.id %}" class="btn btn-warning">Edit</a>{% endif %}
                        </div>
                        </div>
                    </div>
                </div>
                <div class="modal" id="worstPriceModal" aria-labelledby="worstPriceModalLabel" tabindex="-1" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header heading">
                                <h2 class="mt-3">Worst price</h2>
                                <div><p><span class="fs-6">Total before taxes<br>
                                    <span class="fs-3"><strong>${{ highest_price.total }}</strong></span></p></div>
                            </div>
                            <div class="modal-body section">
                                <div class="d-flex justify-content-between rounded-3">
                                    <p class="fs-6 mt-1">Price was confirmed {{ highest_price.natural_date_observed }}</p>
                                    <p><a href="{{ highest_price.link }}" class="btn btn-sm btn-outline-success">
                                        Buy now on {{ highest_price.domain }}</a></p>
                                </div>
                                <div class="container-fluid d-flex justify-content-between fs-4">
                                    <p>Advertised price</p> <p>${{ highest_price.advertised_price }}</p>
                                </div>
                                {% if highest_price.phony_sale %}<p class="text-danger">
                                    Phony savings claim reported for this price</p>{% endif %}
                                {% if highest_price.financing %}<p class="text-danger">
                                    Must pay for financing to get this price</p>{% endif %}
                                {% if highest_price.subscription_fees %}<p class="text-danger">
                                    Must become a member or pay subscription fees to get this price</p>{% endif %}
                                {% if highest_price.shipping %}
                                <div class="container-fluid d-flex justify-content-between">
                                    <p>Shipping may apply &#9679; starting</p> <p>+ ${{ highest_price.shipping }}</p>
                                </div>{% endif %}
                                {% if highest_price.hidden_fees %}
                                <div class="container-fluid d-flex justify-content-between">
                                    <p>Hidden fees</p> <p>+ ${{ highest_price.hidden_fees }}</p>
                                </div>{% endif %}
                                {% if highest_price.higher_price_at_checkout %}
                                <div class="container-fluid d-flex justify-content-between">
                                    <p>Price at checkout</p> <p>${{ highest_price.higher_price_at_checkout }}</p>
                                </div>{% endif %}
                                {% if highest_price.overcharge %}
                                <div class="container-fluid d-flex justify-content-between">
                                    <p>Overcharge on card</p> <p>${{ highest_price.overcharge }}</p>
                                </div>{% endif %}
                                {% if highest_price.tied_sale %}
                                <div class="container-fluid d-flex justify-content-between">
                                    <p>Tied product price</p> <p>+ ${{ highest_price.tied_sale }}</p>
                                </div>
                                <div class="container-fluid d-flex justify-content-between fs-4">
                                    <p>Total for all products</p> <p>${{ highest_price.tied_cost}}</p>
                                </div>{% endif %}
                                <div class="container-fluid d-flex justify-content-between fs-4">
                                    <p>Final product price</p> <p> ${{ highest_price.total }}</p>
                                </div>
                                {% if highest_price.comments %}
                                <div>
                                    <h5>Note</h5><p>{{ highest_price.comments }}</p>
                                </div>{% endif %}
                            </div>
                        <div class="modal-footer footer">
                            <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Close</button>
                            {% if price.owner_id == user.id %}
                            <a href="{% url 'prcr:price_update' highest_price.id %}" class="btn btn-warning">Edit</a>{% endif %}
                        </div>
                        </div>
                    </div>
                </div>
                <div class="modal" id="priceList{{ price.id }}Modal" aria-labelledby="priceList{{ price.id }}ModalLabel" tabindex="-1"  aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header heading">
                                <h2 class="mt-3">Price</h2>
                                <div><p><span class="fs-6">Total before taxes<br>
                                    <span class="fs-3"><strong>${{ price.total }}</strong></span></p></div>
                            </div>
                            <div class="modal-body section">
                                <div class="d-flex justify-content-between rounded-3">
                                    <p class="fs-6 mt-1">Price was confirmed {{ price.natural_date_observed }}</p>
                                    <p><a href="{{ price.link }}" class="btn btn-sm btn-outline-success">
                                        Buy now on {{ price.domain }}</a></p>
                                </div>
                                <div class="container-fluid d-flex justify-content-between fs-4">
                                    <p>Advertised price</p> <p>${{ price.advertised_price }}</p>
                                </div>
                                {% if price.phony_sale %}<p class="text-danger">
                                    Phony savings claim reported for this price</p>{% endif %}
                                {% if price.financing %}<p class="text-danger">
                                    Must pay for financing to get this price</p>{% endif %}
                                {% if price.subscription_fees %}<p class="text-danger">
                                    Must become a member or pay subscription fees to get this price</p>{% endif %}
                                {% if price.shipping %}
                                <div class="container-fluid d-flex justify-content-between">
                                    <p>Shipping may apply &#9679; starting</p> <p>+ ${{ price.shipping }}</p>
                                </div>{% endif %}
                                {% if price.hidden_fees %}
                                <div class="container-fluid d-flex justify-content-between">
                                    <p>Hidden fees</p> <p>+ ${{ price.hidden_fees }}</p>
                                </div>{% endif %}
                                {% if price.higher_price_at_checkout %}
                                <div class="container-fluid d-flex justify-content-between">
                                    <p>Price at checkout</p> <p>${{ price.higher_price_at_checkout }}</p>
                                </div>{% endif %}
                                {% if price.overcharge %}
                                <div class="container-fluid d-flex justify-content-between">
                                    <p>Overcharge on card</p> <p>${{ price.overcharge }}</p>
                                </div>{% endif %}

                                {% if price.tied_sale %}
                                <div class="container-fluid d-flex justify-content-between">
                                    <p>Tied product price</p> <p>+ ${{ price.tied_sale }}</p>
                                </div>
                                <div class="container-fluid d-flex justify-content-between fs-4">
                                    <p>Total for all products</p> <p>${{ price.tied_cost}}</p>
                                </div>{% endif %}
                                <div class="container-fluid d-flex justify-content-between fs-4">
                                    <p>Final product price</p> <p> ${{ price.total }}</p>
                                </div>
                                {% if price.comments %}
                                <div>
                                <h5>Note</h5><p>{{ price.comments }}</p>
                                </div>{% endif %}
                            </div>
                        <div class="modal-footer footer">
                            <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Close</button>
                            {% if price.owner_id == user.id %}
                            <a href="{% url 'prcr:price_update' price.id %}" class="btn btn-warning">Edit</a>{% endif %}
                        </div>
                        </div>
                    </div>
                </div>
                {% endfor %}{% endif %}
                <div class="container-fluid d-flex justify-content-center">
                    <ul class="pagination pagination-sm">
                        {% if price_page_obj.has_previous %}
                        <li class="page-item">
                            <a href="?price_page={{ price_page_obj.previous_page_number }}#price-history"
                            class="page-link link-style">&laquo;</a></li>

                        {% if price_page_obj.number > 3 %}
                        <li class="page-item">
                            {% if price_page_obj.number == 1 %}
                            <p class="page-link page-link-style">
                                1 of {{ price_page_obj.paginator.num_pages }}</p>
                            {% else %}
                            <a href="?price_page=1#price-history" class="page-link link-style">1</a></li>
                            {% endif %}
                        {% if price_page_obj.number > 4 %}
                        <li class="page-item"><a class="page-link link-style">...</a></li>
                        {% endif %}
                        {% endif %}
                        {% endif %}

                        {% for num in price_page_obj.paginator.page_range %}
                        {% if price_page_obj.number == num %}
                        <li class="page-item"><p class="page-link page-link-style">
                            {{ num }} of {{ price_page_obj.paginator.num_pages }}</p></li>

                        {% elif num > price_page_obj.number|add:'-3' and num < price_page_obj.number|add:'3' %}
                        <li class="page-item"><a href="?price_page={{ num }}#price-history"
                            class="page-link link-style">{{ num }}</a></li>
                        {% endif %}
                        {% endfor %}

                        {% if price_page_obj.has_next %}
                        {% if price_page_obj.number < price_page_obj.paginator.num_pages|add:'-3' %}
                        <li class="page-item"> class="page-item"<a class="page-link link-style">...</a></li>
                        <li class="page-item">
                            <a href="?price_page={{ price_page_obj.paginator.num_pages }}#price-history"
                            class="page-link link-style">{{ price_page_obj.paginator.num_pages }}</a></li>

                        {% elif price_page_obj.number < price_page_obj.paginator.num_pages|add:'-2' %}
                        <li class="page-item">
                            <a href="?price_page={{ price_page_obj.paginator.num_pages }}#price-history"
                            class="page-link link-style">{{ price_page_obj.paginator.num_pages }}</a></li>

                        {% endif %}
                        <li class="page-item"><a href="?price_page={{ price_page_obj.next_page_number }}#price-history"
                            class="page-link link-style">&raquo;</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
            <div class="col-6" id="comments">
                <h5>Comments</h5>
                {% if user.is_authenticated %}
                {% load crispy_forms_tags %}
                <form method="post" action="{% url 'prcr:comment_create' product.id %}"
                    class="mb-3 input-group">
                    {% csrf_token %}
                    <div class="input-group">
                        <input id="comment" type="text" name="comment" class="form-control"
                            maxlength="250" minlength="3" placeholder="Leave a comment" required>
                        <input type="submit" value="submit" class="btn btn-outline-primary">
                    </div>
                </form>
                {% endif %}
                {% if comments %}
                    {% for comment in comment_page_obj %}
                    <p>{{ comment.text }}<strong id="likes_count_{{comment.id}}"
                        likes-count="{{comment.likes_count}}">
                        {{ comment.likes_count }}</strong>
                        <!-- Like icon for comment not liked -->
                        <a href="#comments"
                            onclick="likeComment('{% url 'prcr:dismiss_like' comment.id %}', {{ comment.id }} );return false;"
                            {% if comment.id not in comment_likes %} style="display: none;" {% endif %}
                            id="liked_{{comment.id}}" class="liked">&#x1F592;</a>
                        <!-- Like icon for comment liked -->
                        <a href="#comments"
                            onclick="likeComment('{% url 'prcr:like_comment' comment.id %}', {{ comment.id }} );return false;"
                            {% if comment.id in comment_likes %} style="display: none;" {% endif %}
                            id="not_liked_{{comment.id}}" class="link-style">&#x1F592;</a><br>
                    <span class="badge text-secondary">{{ comment.created_at|naturaltime }}
                        </span><span class="badge text-dark">{{ comment.owner }}</span>
                        {% if user == comment.owner %}
                        <a href="{% url 'prcr:comment_delete' comment.id %}" class="link-style">
                            <i class="fa fa-trash"></i></a>
                        {% endif %}
                    </p>
                    {% endfor %}
                <div class="container-fluid d-flex justify-content-center">
                    <ul class="pagination pagination-sm">
                        {% if comment_page_obj.has_previous %}
                        <li class="page-item">
                            <a href="?comment_page={{ comment_page_obj.previous_page_number }}#comments"
                            class="page-link link-style">&laquo;</a></li>

                        {% if comment_page_obj.number > 3 %}
                        <li class="page-item">
                            {% if comment_page_obj.number == 1 %}
                            <p class="page-link page-link-style">
                                1 of {{ comment_page_obj.paginator.num_pages }}</p>
                            {% else %}
                            <a href="?comment_page=1#comments" class="page-link link-style">1</a>
                            {% endif %}
                        </li>
                        {% if comment_page_obj.number > 4 %}
                        <li class="page-item"><a class="page-link link-style">...</a></li>
                        {% endif %}
                        {% endif %}
                        {% endif %}

                        {% for num in comment_page_obj.paginator.page_range %}
                        {% if comment_page_obj.number == num %}
                        <li class="page-item"><p class="page-link page-link-style">
                            {{ num }} of {{ comment_page_obj.paginator.num_pages }}</p></li>

                        {% elif num > comment_page_obj.number|add:'-3' and num < comment_page_obj.number|add:'3' %}
                        <li class="page-item"><a href="?comment_page={{ num }}#comments"
                            class="page-link link-style">{{ num }}</a></li>
                        {% endif %}
                        {% endfor %}

                        {% if comment_page_obj.has_next %}
                        {% if comment_page_obj.number < comment_page_obj.paginator.num_pages|add:'-3' %}
                        <li class="page-item"> class="page-item"<a class="page-link link-style">...</a></li>
                        <li class="page-item">
                            <a href="?comment_page={{ comment_page_obj.paginator.num_pages }}#comments"
                            class="page-link link-style">{{ comment_page_obj.paginator.num_pages }}</a></li>

                        {% elif comment_page_obj.number < comment_page_obj.paginator.num_pages|add:'-2' %}
                        <li class="page-item">
                            <a href="?comment_page={{ comment_page_obj.paginator.num_pages }}#comments"
                            class="page-link link-style">{{ comment_page_obj.paginator.num_pages }}</a></li>

                        {% endif %}
                        <li class="page-item"><a href="?comment_page={{ comment_page_obj.next_page_number }}#comments"
                            class="page-link link-style">&raquo;</a></li>
                        {% endif %}
                    </ul>
                </div>
                {% endif %}
            </div>
        </section>
    </div>
</div>
{% endblock content %}


{% block footer %}
<p><a href="{% url 'prcr:product_list' product.subcategory_id %}"
    class="btn btn-sm btn-outline-dark m-2">
    Browse more {{ product.subcategory|lower }} {{ product.subcategory.category|lower }} &raquo;</a></p>

<script type='text/javascript'>

function toggleInlineDisplay(like_id) {
    var elem = document.getElementById(like_id);
    if(window.getComputedStyle(elem).display == "inline") {
        elem.style.display = 'none';
        elem.dataset.previousDisplay = 'inline';
    } else if(window.getComputedStyle(elem).display == "block") {
        elem.style.display = 'none';
        elem.dataset.previousDisplay = 'block';
    } else {
        console.log('prev', elem.dataset.previousDisplay);
        if ( typeof elem.dataset.previousDisplay == 'string' ) {
            elem.style.display = elem.dataset.previousDisplay
        } else {
            elem.style.display = 'inline';
        }
    }
}

function updateLikesCount(url, comment_id) {
    const likesCountId = 'likes_count_'+comment_id;
    const element = document.getElementById(likesCountId);
    var likesCount = element.getAttribute('likes-count');
    if (url == '/comment/'+comment_id+'/like') {
        element.innerHTML = ' '+likesCount+'<span style="color: var(--inuOhHair);"> +1</span>';
    } else {
        element.innerHTML = ' '+likesCount+'<span style="color: var(--inuOhKimono);"> -1</span>';
    }
}

function likeComment(url, comment_id) {
    console.log('POSTing to', url);
    fetch(url, { method: 'POST', body: '{}' } )
    .then((response) => {
        console.log(url, 'finished');
        toggleInlineDisplay('not_liked_'+comment_id);
        toggleInlineDisplay('liked_'+comment_id);
        updateLikesCount(url, comment_id)
    }).catch((error) => {
        alert('Url failed with '+error+' '+url);
    });
}

</script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
{% endblock footer %}
