:root {
    --inuOhSky:#f3f4f8;
    --inuOhKimono:#e4625b;
    --inuOhHair:#62aeb1;
    --inuOhYukata:#fdf7d2;
    --inuOhFan:#edc23a;
    --inuOhDrum:#ae9b87;
    --inuOhHat:#80999c;
}

body, .no-bg {
    background-color: var(--inuOhDrum) !important;
}

.nav, .footer {
    background-color: var(--inuOhHair) !important;
}

#gravatar {
    width: 39px;
}

.header, .heading {
    background-color: var(--inuOhKimono) !important;
}

.main, .section, .cards, .product, .no-content {
    background-color: var(--inuOhSky) !important;
}

mark {
    background-color: var(--inuOhFan) !important;
}

.product, .no-content {
    min-height: 165px;
}

.product:hover, .no-content:hover {
    filter: brightness(0.98);
}

.cards:hover {
    filter: brightness(0.93);
}

.link-style {
    color: black !important;
    text-decoration: none !important;
}

.page-link-style {
    text-shadow: 0 0 3px var(--inuOhHair) !important;
}

.muted-link-style {
    color: light-gray !important;
    text-decoration: none !important;
}

.link-style:hover, .muted-link-style:hover {
    color: orangered !important;
    text-shadow: 0 0 3px hotpink !important;
}

.header-stat {
    background-color: var(--inuOhFan);
}

.header-link {
    float: right;
}

.card-pic {
    height: 99px;
    float: right;
}

.product-pic {
    float:right;
    height: 122px;
}

.product-no-pic {
    height: 122px;
    width: 122px;
    padding: 22px 22px;
    text-align: center;
    border: 1px dashed gray;
}

.product-no-pic:hover {
    border: 2px dashed hotpink;
    background-color: var(--inuOhHat) !important;
}

.plain-list {
    list-style-type: none;
    width: 90%;
}

.product-profile {
    width: 96%
}

.liked {
    color: var(--inuOhHair);
    text-decoration: none !important;
}

.liked:hover {
    color:  var(--inuOhKimono);
}

#product-profile-pic {
    width: 100%;
}

#product-profile-no-pic-div {
    width: 100%;
    height: 86%;
}

#product-profile-no-pic {
    width: 100%;
    height: 100%;
    background-color: var(--inuOhYukata);
}

#product-profile-no-pic:hover {
    background-color: var(--inuOhHat);
}

#overlay {
    text-align: center;
}

#overlay-image {
    width:90%; margin-top: 50px; border: 3px solid black;
}

#price-history {
    background-color: var(--inuOhYukata) !important;
}

#comments {
    text-align: right;
}