body, .no-bg {
    background-color: #f7f6fd !important;
}

.nav {
    background-color: #e3f2fd !important;
}

#gravatar {
    width: 39px;
}

.header, .footer, .heading {
    background-color: #e3e2fd !important;
}

.main, .section, .cards, .product, .no-content {
    background-color: #e3f2e9 !important;
}

.product, .no-content {
    min-height: 165px;
}

.product:hover, .no-content:hover {
    filter: brightness(0.98);
}

.cards:hover {
    filter: brightness(0.93);
}

.link-style {
    color: black !important;
    text-decoration: none !important;
}

.muted-link-style {
    color: lithg-gray !important;
    text-decoration: none !important;
}

.link-style:hover, .muted-link-style:hover {
    color: orangered !important;
    text-shadow: 0 0 3px hotpink !important;
}

.header-stat {
    background-color: #e3e9fd;
}

.header-link {
    float: right;
}

.card-pic {
    height: 99px;
    float: right;
}

.product-pic {
    float:right;
    height: 122px;
}

.product-no-pic {
    height: 122px;
    width: 122px;
    padding: 22px 22px;
    text-align: center;
    border: 1px dashed gray;
}

.product-no-pic:hover {
    border: 2px dashed hotpink;
    background-color: #ddd !important;
}

.plain-list {
    list-style-type: none;
    width: 90%;
}
.product-profile {
    width: 96%
}

#product-profile-pic {
    width: 100%;
}

#product-profile-no-pic-div {
    width: 100%;
    height: 86%;
}

#product-profile-no-pic {
    width: 100%;
    height: 100%;
    background-color: #dedede;
}

#product-profile-no-pic:hover {
    background-color: #797979;
}

#overlay {
    text-align: center;
}

#overlay-image {
    width:90%; margin-top: 50px; border: 3px solid black;
}

#price-history {
    background-color: #e3f2eb !important;
}

#comments {
    text-align: right;
}